.App {
  background-color: red;
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 100%;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

header {
  background-color: purple;
  height: 45%;
  width: 100%;
}

.results-container {
  background-color: yellow;
  overflow: hidden;
  width: 90%;
}

.results-container table {
  width: 100%;
  vertical-align: middle;
}
