/*Would normally use preprocessor like Sass to modularize and next,
but preprocessors are incompatible with create-react-app*/


/***************
/*MAIN STYLING*
***************/

.App {
  background-color: #fafafa;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

header {
  background-color: #fff;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  min-height: 90px;
  width: 100%;
}

/***************
/* SEARCH BAR STYLING
***************/

.search-bar-container {
  background-color: #E6E6E3;
  display: flex;
  justify-content: center;
  height: 5%;
  min-height: 45px;
  width: 100%;
}

.search-bar-container form {
  color: #5B5D62;
  display: flex;
  align-items: center;
  height: 100%;
  width: 90%;
}

.search-bar-container input {
  border: none;
  margin-left: 2%;
  padding-left: 5px;
  height: 50%;
}

/***************
/* TABLE STYLING
***************/


.table-container {
  height: 80%;
  overflow: scroll;
  max-width: 1100px;
  width: 90%;
}

.table-container table {
  border: 1px solid #000;
  border-collapse: collapse;
  height: 100%;
  table-layout: fixed;
  width: 100%;
}

.table-headers {
  background-color: #5B5D62;
  border-top: 1px solid  #5B5D62;
  color: #fff;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.sortable {
  cursor: pointer;
}

.table-row {
  background-color: #fff;
  border: 1px solid #000;
  transition: all 0.7s;
}

.table-row:hover {
  background-color: #E6E6E3;
}

.table-row td {
  font-size: 1.2em;
  height: 150px;
  text-align: center;
}

.channel-title {
  font-weight: 700;
}

.no-results {
  text-align: center;
}

/***************
/*Resposive Layout and Media Queries*
***************/


@media only screen and (max-width: 600px) {
    .table-headers{
        display: none;
    }

    .table-row {
      display: flex;
      flex-flow: column;
      height: 300px;
    }
}

/***************
/*Heart and Favorite Styles
***************/

.fa-heart {
  cursor: pointer;
  transition: all 0.9s;
  color: #E6E6E3;
}

.not-favorited {
  color: #ccc;
}

.favorited {
  color: #e81c4f;
}

/***************/
/* Misc Styles*/
/***************/
.hidden {
  display: none;
}
